{% extends 'base.html.twig' %}

{% block title  %}Mixted Vinyl{% endblock  %}

{% block  body %}

<h1 class="text-light"> {{ title }} </h1>

{# Todo: add an image of the record (comment) #}
<div class="text-light">
     Tracks: 
     <ul>

        {% for track in tracks %}
        <li class="ms-2">{{ track.Artist|capitalize }} - {{ track.Song }}</li>
        {% endfor %}

     </ul>
</div>

{% endblock  %}




