<h1> {{ title }} </h1>

{# Todo: add an image of the record (comment) #}

<div>
     Tracks: 
     <ul>
        {% for track in tracks %}
        <li>{{ track.Artist }} - {{ track.Song }}</li>
        {% endfor %}
     </ul>
</div>

